<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ 'miravo.timetracker::lang.check_in'|trans }}</th>
                <th scope="col">{{ 'miravo.timetracker::lang.check_out'|trans }}</th>
                <th scope="col">{{ 'miravo.timetracker::lang.duration'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for session in workSessions %}
                <tr>
                    <td>{{ session.check_in_time ? session.check_in_time|date('H:i A, F j, Y') : 'miravo.timetracker::lang.na'|trans }}</td>
                    <td>{{ session.check_out_time ? session.check_out_time|date('H:i A, F j, Y') : 'miravo.timetracker::lang.na'|trans }}</td>
                    <td>
                        {% if session.check_in_time and session.check_out_time %}
                            {% set total_seconds = session.check_out_time|date('U') - session.check_in_time|date('U') %}
                            {% set hours = (total_seconds // 3600) %}
                            {% set minutes = (total_seconds % 3600) // 60 %}
                            {% set seconds = (total_seconds % 60) %}
                            {{ '%02d:%02d:%02d'|format(hours, minutes, seconds) }}
                        {% else %}
                            {{ 'miravo.timetracker::lang.na'|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">{{ 'miravo.timetracker::lang.no_work_sessions_available'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center pt-3">
    <nav>
        {{ ajaxPager(workSessions) }}
    </nav>
</div>
